services:
  portfolio:
    build: .
    image: igfv:${VERSION:-latest}
    container_name: igfO
    restart: unless-stopped
    
    expose:
      - "5002"
    
    environment:
      - NODE_ENV=production
      - ORIGIN=https://igfv.veka.gg
    
    env_file:
      - .env
    
    networks:
      - proxy-network
    
    stop_grace_period: 10s
    
    labels:
      - "com.portfolio.version=${VERSION:-dev}"

networks:
  proxy-network:
    external: true
